<div class="lg:container lg:mx-auto pt-16">
  <div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                ID
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                User
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Parameters
              </th>
               <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Metrics
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Duration
              </th>
              <th class="px-6 py-3 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let run of runs">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
               {{ run.info.run_id | slice:0:8 }}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                {{ run.info.user_id }}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap">
                <span class="inline-flex items-center font-bold text-xs px-2 py-2px rounded-full tracking-wide uppercase" [ngClass]="{'bg-green-200': run.info.status === 'FINISHED', 'bg-red-200': run.info.status !== 'FINISHED'}">
                  <span class="w-2 h-2 rounded-full mr-2" [ngClass]="{'bg-green-600': run.info.status === 'FINISHED', 'bg-red-600': run.info.status !== 'FINISHED'}"></span>
                  <span class="pr-2px leading-relaxed whitespace-no-wrap"> {{ run.info.status }}</span>
                </span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800" *ngFor="let param of run.data.params">
                  {{ param.key }}: {{ param.value }}
                </span>
              </td>

              <td class="px-6 py-4 whitespace-no-wrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800" *ngFor="let metric of run.data.metrics">
                  {{ metric.key }}: {{ metric.value | number:'0.0-4' }}
                </span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                {{ +run.info.end_time - +run.info.start_time }}ms
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                <a (click)="viewMetrics(run.info.run_id, run.data.metrics)" class="text-indigo-600 hover:text-indigo-900">View Metrics</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

